/* =====================
   Item Label
   ===================== */

.ds-item-label {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 100%;
  max-width: 328px;
}

.ds-item-label--modify {
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  gap: 12px;
}

.ds-item-label__content {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.ds-item-label__header {
  display: flex;
  align-items: center;
  gap: 4px;
  min-height: 24px;
}

.ds-item-label__title-group {
  display: flex;
  gap: 4px;
}

.ds-item-label__title {
  color: var(--atomes\/item-label\/title, #333333);
  font-family: var(--font-family-primary);
  font-weight: var(--font-weight-semibold);
}

.ds-item-label--desk .ds-item-label__title {
  font-size: 18px;
  line-height: 23px;
}

.ds-item-label--mob .ds-item-label__title {
  font-size: 16px;
  line-height: 20px;
}

.ds-item-label__mandatory {
  color: var(--atomes\/item-label\/title, #333333);
}

.ds-item-label__description {
  margin: 0;
  color: var(--atomes\/item-label\/subtitle, #5c5c5c);
  font-family: var(--font-family-primary);
  font-weight: var(--font-weight-regular);
}

.ds-item-label--desk .ds-item-label__description {
  font-size: 16px;
  line-height: 20px;
}

.ds-item-label--mob .ds-item-label__description {
  font-size: 14px;
  line-height: 18px;
}

.ds-item-label__actions {
  display: flex;
  align-items: flex-end;
  height: 100%;
}
